.card {
  background: rgb(255, 255, 255);
  width: auto;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
  font-family: Montserrat, sans-serif;
}