* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #7c85a5;
}

.parent {
  display: flex;
  justify-content: flex-start;
}

